
<section id ="left">
	<h3>We are entreprenuers.</h3>
	<p>Ensphere Labs is a collection of entreprenuerially minded software developers 
	and graphic designers anchored by our principal architect and developer, Dr. James Davis.  
	We are passionate about developing great applications that solve problems and make 
	organizations more productive.</p>
	<p>Have an idea?  We would love to help.  Our goal is to 
	assist clients through our knowledge to envision, develop, and support great applications.</p>
</section>

<section id ="right">
	<h3>"Core Team"</h3>
	<p>Coming soon.</p>
</section>
