<section id ="left">

	<h3>Say hello!</h3>
	<p>We love interesting projects that make organizations better.  
	If you would like to get in touch with us, please do.  We are also 
	open to partnerships with other entrepreneurs or development firms.</p>

</section>

<section id ="right">

	<h3>Office space</h3>
	<p>We are located in beautiful Louisiana, laissez les bons temps rouler! 
	While we maintain an office at the Louisiana Technology Park, we can also
	be found writing (& drinking) Java in some of the local coffee houses.<br><br>

	Mailing address:<br>
	Ensphere Labs<br>
	7117 Florida Boulevard<br>
	Baton Rouge, LA 70806<br>
	Email: <a href="mailto:jdavis@enspherelabs.com">jdavis@enspherelabs.com</a><br>
	Phone: 225.892.0230<br>
	Fax:   225.218.0101
	</p>

</section>