<section id ="left"> 
	<h3>We make spectacular web applications.</h3>
	<p>At Ensphere Labs, we turn ideas into reality.  Our motto is simple: 
	envision -> develop -> captivate.  Ensphere is a one-stop shop.  If you 
	have an idea, we will take your vision, turn it into a working application, 
	and then host / support the application for you.</p>
</section>

<section id ="right">
	<h3>"Latest News"</h3>
	<p>Coming soon.</p>
</section>