<div id="footer">
	<div id="footercontent">
		
		<footer>
			<p>&copy; <%= Time.now.year %> <a href="http://sabotsolutions.com">Sabot Solutions, LLC.</a><br>+1.225.892.0230</p>
		</footer>
				
	</div><!-- #footercontent -->
</div><!-- #footer -->
