<div id="header">
	<div id="headercontent">
		<header>
		  <% logo = image_tag("logo_header.png", :alt => "Ensphere Labs", :class => "round") %>
		  <%= link_to logo, root_path %>
		 
		    
		  <%= link_to "About", about_path %> |
		  <%= link_to "Portfolio", portfolio_path %> |
		  <%= link_to "Contact", contact_path %>
		    
		 
		</header>
	</div><!-- #headercontent -->
</div><!-- #header -->